.Attachment-container {
    justify-content: space-between;
}

.Attachment-carousel-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    display: inline;
    margin: 5px 0;
}


.Attachment-inner {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: stretch;
    display: inline-flex;
    transition: transform .5s;
    overflow: hidden;
}

.Attachment-inner span {
    border-radius: 5px;
    padding: 0;
    /* border-radius: 100% !important; */
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.Attachment-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
}

.Attachment-error {
    display: flex;
    align-items: center;
}

.Attachment-button {
    background-color: transparent;
    border: none;
    padding: 0;
    /* margin: 0px 20px; */
}

.Attachment-button img {
    will-change: transform;
    transition: transform .2s;
}

.Attachment-button:hover img{
    transform: scale(.9);
    transition: transform .1s ease;
}

.Attachment-button:nth-child(1) {
    /* margin-right: 20px; */
    padding-right: 20px;
}

.Attachment-button:nth-child(3) {
    /* margin-left: 20px; */
    padding-left: 20px;
}