.Main-RightSidebar {
    height: 100%;
    width: var(--rightBarWidth);
    border-left: var(--xxs) solid var(--transparent-gray);
    z-index: 1;

    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    right: 0;
}

@media screen and (max-width:800px) {
    .Main-RightSidebar {
        display: none;
    }
}