.SenderInfo-icon {
  width: var(--l);
  height: var(--l);
  margin-left: 8px;
}

.SenderInfo-div {
  justify-content: space-between;
}

.SenderInfo-name {
  font-size: 1.1em;
  color: black;
  font-weight: 600;
}

.SenderInfo-div p {
  font-size: 18px;
  color: #6B6565;
}